

.cabeza{
    position: sticky;
    top: 0;
    background: lightgrey;
    z-index: 99;
}
.perro{
    border-radius: 100%;
    margin-left: 5rem;
    width: 5rem;
}
.quenoma{

    line-height: 5rem;
    margin-bottom: 0;
    padding-left: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.historia{
    border-radius: 100%;
    width:4rem;
    height: 4rem;
    
}
.navegacion{
    flex: 1;
    text-align: center;
}
.cuerpo{
    background-image: url(./assets/silueta.jpg);
    background-position-x: right;
    background-size: 55vh;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}/*
.cuerpo::before{
    content: " ";
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background: white;
    opacity: 50%;
}
*/
section.card, article.card{
    background: none;
}

.producto{
    justify-content: space-between;
}

.columnaCarta{
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  background: none;
  
}
.columnaCarta li{
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
    background: none;
}
.columnaCarta label{
    text-transform: uppercase;
    font-weight: bold;
    color: #f05900;
   
}
.ingredientes{
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #888;
    font-weight: 300;
    mix-blend-mode: difference;
}
.card-title{
    margin-left: 5rem; 
    font-size:xx-large;
    color: seashell;
}
.card-subtitle{
    margin-left: 6rem;
    font-size: large;
    color: seashell;
    
}
.cantidad-producto{
    padding: 0 1rem 1rem 1rem;
    
}
.cantidad{
    max-width: 70px;
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    border-right: 1px solid;
    
    border-radius: 0;
    padding: 0;
}

.titulos{
    width: 100%;
    background-color: #f05900;
}


.wasap{
    
    width: 100%;
    background-color: rgb(7 141 255);
    position: fixed;
    bottom: 0;
    padding: 1rem;
    /* right: 2rem; */
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}

.zoom::after{
    content: " ";
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;

}


@media (max-width: 600px) {
    .columnaCarta{
        columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
}