

.perro{
    border-radius: 100%;
    margin-left: 7rem;
    width: 5rem;
}
.historia{
    border-radius: 100%;
    width:4rem;
    
}
.navegacion{
    flex: 1;
    text-align: center;
}


.columnaPizzas{
    columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}
.columnaPizzas li{
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside:avoid;
    -moz-page-break-inside:avoid;
    page-break-inside: avoid;
    break-inside: avoid-column;
}
.columnaPizzas label{
    text-transform: uppercase;
    font-weight: bold;
    color: #f05900;
   
}
.ingredientes{
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: #888;
    font-weight: 300;
}
.card-title{
    margin-left: 5rem; 
    font-size:xx-large;
    color: seashell;
}
.card-subtitle{
    margin-left: 6rem;
    font-size: large;
    color: seashell;
    
}
.cantidad-producto{
    padding: 1rem;
}
.cantidad{
    max-width: 70px;
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 0;
}

.titulos{
    width: 100%;
    background-color: #f05900;
}


.wasap{
    height: 6rem;
    width: 6rem;
    background-color: blueviolet;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    border-radius: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}




@media (max-width: 600px) {
    .columnaPizzas{
        columns: 1;
      -webkit-columns: 1;
      -moz-columns: 1;
    }
}